<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>r/Splatoon Profile</title>
	<meta http-equiv="Content-Security-Policy" content="default-src * gap: data: blob: 'unsafe-inline' 'unsafe-eval' ws: wss:;">

	<meta name="description" content="r/Splatoon profile pages - share your friend code and game stats!">
	<meta name="keywords" content="Splatoon, r/Splatoon, friend code, profile">
	<meta name="author" content="shane#1353">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
	<link rel="manifest" href="/fav/site.webmanifest">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/css/root.css">
</head>
<body>
	<div class="container" style="margin-bottom:100px;padding-left:0;padding-right:0;">
		<div class="jumbotron">
			<div>
				<a href="https://discord.gg/rsplatoon" target="_blank">
					<img class="center-block" src="/css/img/logo.png" style="width:300px;height:auto;margin-top:0"/>
				</a>
				<h1>Manage Drip</h1>
			</div>
            <% if (id) { %>
				<div id="userinfo">
					<div class="usermenu" style="display: none;">
						<div style="height:70px;width:1px;"></div>
						<div class="item">
							<form action="/delete" method="post">
								<input type="hidden" name="delete" value="YES" />
								<a href="#" onclick="$(this).closest('form').submit();return false;">
									Delete Profile
								</a>
							</form>
						</div>
						<div class="item">
							<a href="/logout">
								Logout
							</a>
						</div>
					</div>
					<img src="<%= avatar %>" onclick="toggleusermenu()" />
					<script>
						function toggleusermenu() {
							$(".usermenu").slideToggle();
						}
					</script>
				</div>
            <% } %>
		</div>
		<div>
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 offset-md-3" id="original-drip">
						<% if (drip) { %>
							<div>
								<h3>
									<a href="/"><i class="fa fa-chevron-left"></i></a>
									Your drip
								</h3>
							</div>
							<div class="drip-img">
								<img src="<%= drip %>" class="drip-pic" />
								<form action="/drip/delete" method="post" class="delete-drip">
									<button type="submit" value="submit">
										<i class="fa fa-close"></i>
									</button>
								</form>
							</div>
						<% } else { %>
							<div class="drip-img">
								<img src="/css/img/nodrip.png" class="drip-pic" />
							</div>
						<% } %>
					</div>
					<div class="col-12 col-md-6 offset-md-3" id="new-drip" style="display:none;">
						<div>
							<h3>
								<a href="/"><i class="fa fa-chevron-left"></i></a>
								New drip
							</h3>
							<button type="button" class="btn btn-primary" id="upload-new-image" style="display: none;position:absolute;top:5px;right:15px;">Save Changes</button>
						</div>
						<div class="drip-img">
							<img id="preview" class="drip-pic"></img>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6 offset-md-3">
						<% if (blockupload) { %>
							<h2>Upload limit reached</h2>
							<div>Each user is allowed 3 uploads per week. The limit has been reached.</div>
						<% } else { %>
							<input id="image-input" name="drip" type="file" class="btn btn-primary" accept=".jpg,.png,image/jpeg,image/png" style="width:100%" />
							<script>
								let imgInput = document.getElementById('image-input');
								imgInput.addEventListener('change', function (e) {
									if (e.target.files) {
										$("#original-drip").hide();
										$("#new-drip").show();
										$("#upload-new-image").show();

										let imageFile = e.target.files[0];
										var reader = new FileReader();
										reader.onload = function (e) {
											var img = document.createElement("img");
											img.onload = function (event) {
												var MAX_WIDTH = 512;
												var MAX_HEIGHT = 512;

												var width = img.width;
												var height = img.height;

												// Change the resizing logic
												if (width > height) {
													if (width > MAX_WIDTH) {
														height = height * (MAX_WIDTH / width);
														width = MAX_WIDTH;
													}
												} else {
													if (height > MAX_HEIGHT) {
														width = width * (MAX_HEIGHT / height);
														height = MAX_HEIGHT;
													}
												}

												var canvas = document.createElement("canvas");
												canvas.width = width;
												canvas.height = height;
												var ctx = canvas.getContext("2d");
												ctx.drawImage(img, 0, 0, width, height);

												// Show resized image in preview element
												var dataurl = canvas.toDataURL(imageFile.type);
												document.getElementById("preview").src = dataurl;
											}
											img.src = e.target.result;
										}
										reader.readAsDataURL(imageFile);
									}
								});

								$("#upload-new-image").click(function() {
									var resizedImage = dataURLToBlob(document.getElementById("preview").src);
									var data = new FormData();
									data.append('drip', resizedImage);

									$("#upload-new-image").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Loading...');

									$.ajax({
										url: "/drip/save",
										data: data,
										cache: false,
										contentType: false,
										processData: false,
										type: 'POST',
										success: function() {
											location.reload();
										},
										error: function() {
											alert("Upload failed");
											location.reload();
										}
									});
								});

								/* Utility function to convert a canvas to a BLOB */
								function dataURLToBlob(dataURL) {
									var BASE64_MARKER = ';base64,';
									if (dataURL.indexOf(BASE64_MARKER) == -1) {
										var parts = dataURL.split(',');
										var contentType = parts[0].split(':')[1];
										var raw = parts[1];

										return new Blob([raw], {type: contentType});
									}

									var parts = dataURL.split(BASE64_MARKER);
									var contentType = parts[0].split(':')[1];
									var raw = window.atob(parts[1]);
									var rawLength = raw.length;

									var uInt8Array = new Uint8Array(rawLength);

									for (var i = 0; i < rawLength; ++i) {
										uInt8Array[i] = raw.charCodeAt(i);
									}

									return new Blob([uInt8Array], {type: contentType});
								}
							</script>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>